<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="google-site-verification" content="Z9vh_1of4SAXzrFhCIeJtsveS0HRUZdN2eRMwkZo4bQ" />
    <meta name="google-site-verification" content="BDLYy7SdbQWQJAlGiTEAy2A8juwC9CiLr6Boa5z0e-0" />
    
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans' rel='stylesheet' type='text/css'>
    
    <link rel="shortcut icon" href="<%= image_url('favicon.png') %>" type="image/x-icon">
    <link rel="icon" href="<%= image_url('favicon.png') %>" type="image/x-icon">

    <title><%= current_page.data.title || "Ian Storz" %></title>

    <%= meta_description_tag %>
    <%= meta_author_tag %>

    <%= canonical_link_tag %>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    <div id="container">
      <div id="sidebar">
        <% link_to '/' do %>
          <h5>Ian Storz</h5>
          <div id="my-pic">
            <img src="<%= image_url('me.jpg') %>" title="Ian Storz" alt="A profile picture of Ian Storz" />
          </div>
        <% end %>

        <div id="social-icons">
          <ul>
            <li><a href="https://twitter.com/ianstarz" target="_blank" class="icon-twitter" title="Twitter"></a></li>
            <li><a href="https://www.linkedin.com/in/ianstorz" target="_blank" class="icon-linkedin" title="LinkedIn"></a></li>
            <li><a href="https://github.com/ianstarz" target="_blank" class="icon-github" title="Github"></a></li>
            <li><a href="/blog/feed.xml" target="_blank" class="icon-rss" title="Atom Feed"></a></li>
          </ul>
        </div>
      </div>

      <div id="main">
        <div id="intro">
          <p>Hi, I'm Ian, a software engineer, classical pianist, avid reader, and former long jumper. I like to combine my experiences to put my own spin on problem solving.</p>
        </div>

        <div id="content">
          <%= yield %>
        </div>

        <div id="footer">
          <div id="copyright">
            All Rights Reserved © <span id="copyright-year">2015</span> Ian Storz
          </div>
          <div id="footer-legal-link">
            <%= link_to 'Legal', '/legal' %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>